* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}

body {
  background-color: #61dafb;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: white;
  margin-bottom: 1rem;
}

ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 200px;
  height: 200px;
  width: 100%;
  object-fit: contain;
}

p {
  color: blueviolet;
}

.pagination__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.pagination__button {
  max-width: 150px;
  min-width: 50px;
  height: 30px;
  padding: 0 0.6rem;
  border-radius: 5px;
  background-color:  #61dafb;
  text-transform: uppercase;
}

.pagination__button:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: 0.6s;
}

.filters__container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.product__container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 450px;
  width: 350px;
  max-width: 400px;
  border: 1px solid #777;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #fff;
  text-align: center;
}

.product__container > h4 {
  font-size: 40;
  font-weight: 800;
}

.product__category {
  width: 100%;
  border: 1px solid #777;
  border-radius: 5px;
  text-align: center;
  padding: 0.3rem;
  background-color: bisque;
  text-transform: uppercase;
}

.product__button {
  max-width: 150px;
  min-width: 100px;
  height: 40px;
  padding: 0.6rem;
  border-radius: 5px;
  background-color:  #61dafb;
  text-transform: uppercase;
}

.product__button:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: 0.6s;
}

/* .chat__container {
    margin: 3rem;
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 10px;
  } */

/* .chat__container > h3 {
    text-align: center;
  }
  
  #messages__container {
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  #user__input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: .5rem;
  } */

/* PRODUCT DETAIL */

.product__detail__container {
  margin: auto;
  max-height: 400px;
  max-width: 800px;
  border-radius: 10px;
  display: flex;
  padding: 2rem;
  background-color: #fff;
  gap: 2rem;
}

.product__detail__info {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product__detail__button {
  max-width: 150px;
  height: 40px;
  padding: 0.6rem;
  border-radius: 5px;
  background-color: #61dafb;
}

.product__detail__button:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: 0.6s;
}

.product__detail__image {
  width: 100%;
  max-height: 300px;
  display: flex;
  justify-content: center;
  margin: auto;
}

/* CART DETAIL */

.cart__container {
  margin: auto;
  max-width: 1000px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: bisque;
  gap: 2rem;
}

.cart__products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
}

.product__card {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.product__card > img {
  max-height: 70px;
  width: 100%;
}

.product__card--info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.cart__deleteBtn {
  height: 30px;
  padding: 0 0.5rem;
  border-radius: 5px;
  background-color: #61dafb;
}

.cart__deleteBtn:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: 0.6s;
}

.cart__total {
  display: flex;
  justify-content: space-between;
}

.cart__total--btn {
  height: 30px;
  padding: 0 0.5rem;
  border-radius: 5px;
  background-color:  #61dafb;
}

.cart__total--btn:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: 0.6s;
}