<main class="layout">
  <div class="login__container">
    <h2 class="login__title">Bienvenido</h2>
    <p>INICIAR SESIÓN  <a href="/register">    CREAR CUENTA</a></p>
    <form action="/login" method="post" class="login__form">
      <input
        type="text"
        placeholder="email"
        class="login__input"
        name="email"
      />
      <input
        type="password"
        placeholder="password"
        class="login__input"
        name="password"
      />
      <a href="/acount/rest">¿Olvidaste tu contraseña?</a>
      <div class="input__divider"></div>
      <button type="submit" class="login__btn">Login</button>
    </form>
  </div>
</main>