    <button id="btn_new-product">Create New Product</button>
    <section id="new_product">
        {{!-- Aca va el fomuralio para cargar un producto nuevo --}}
    </section>
{{#if isLogged}}
    <h1 class="title">Hello {{user.name}}, wellcome to our <i style="color: red;">realTimeProducts</i> store!</h1>

    <section id="card__container" class="cards">
        <hr>

        <hr>
    </section>

    {{else}}

    <h1 class="title"> You have to be logged to view our products.</h1>

{{/if}}


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>