<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce Coder</title>
    <link rel="stylesheet" href="/css/{{style}}" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <h1><a href="/products">Ecommerce Coder</a></h1>
        </div>
        <ul>
          <li><a href="/api/products/">API Products</a></li>
          <li><a href="/api/carts">API Carts</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/products/carts/63d7cbab305dba7349d8ea89">Cart</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>